<div id="<?php echo esc_attr($id); ?>" class="<?php echo esc_attr($className); ?> block clock__testimonial" data-image="<?php echo $order; ?>"></div>

    <h2>{{title}}</h2>

    <div class="flexbox">

        <div class="photo">
            {{image}}
        </div>
        
        <span class="image-text">
            {{post_content}}
        </span>
    
        <a class="btn" href="#" target="#">
            {{button}}
        </a>
    
    </div>

</div>