
.flexbox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: auto;

    overflow: hidden;
}

.photo {
    flex: 2;
    float: left;
}


.image .photo img {
  height: 100%;
  object-fit: cover;
}

.image .image-text {
    flex: 3;
    padding: 50px;
    margin-bottom: 50px;
    float: right;
    font-size: 18px;
    line-height: 140%;
}

.image-text h2 {
  font-size: 30px;
}

[data-image="right"] .image-text {
    order: 1; 
}

[data-image="right"] .photo {
    order: 2; 
}

[data-image="right"] .btn {
    right: auto;
}

.btn {
    background: #59BACC;
    color: white;
    padding: 10px 20px;
    border: none;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

